.item_area {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1.5vh 1.5vw;
  cursor: pointer;
  outline: none;
  background-color: var(--color-primary-text);
  border: 1px solid var(--color-gray-light);
  border-radius: 0.375rem;

  &:hover {
    opacity: 0.7;
  }
}

.item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  color: var(--color-blue);
}

.bookmark_filled_icon {
  color: var(--color-dark-violet);
  fill: currentcolor;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--color-gray);
  -webkit-box-orient: vertical;
}

.meta {
  display: flex;
  gap: 1.5vh;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.meta_item {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.icon {
  color: var(--color-gray);
}

.language_dot {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-yellow);
  border-radius: 50%;
}
