.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.header {
  background-color: var(--color-blue);
  color: var(--color-primary-text);
  padding: 24px;
  text-align: center;
}
