:root {
  --color-text: #242424;
  --color-primary-text: #fff;
  --color-background: #f5f8fa;
  --color-blue-light: #4181ac;
  --color-violet: #5b479c;
  --color-dark-violet: #3a2e5c;
  --color-red: #c62828;
  --color-black-transparent: rgb(0 0 0 / 0.1);
  --color-overlay-transparent: rgb(0 0 0 / 0.6);
  --color-gray: #586069;
  --color-gray-light: #e1e4e8;
  --color-filter-background: #f6f8fa;
  --color-filter-border: #d1d5d8;
  --color-border-spinner: #4e437633;
  --color-blue: #0366d6;
  --color-yellow: #f1e05a;
}

#root {
  width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
